:root {
    --main-bg-color: #1c1519;
    --secondary-bg-color: #522c3d;
    --section-bg-color: #59444d;
    --accent-color: #ad6c89;
    --text-color: #efe1e7;
    --link-color: #c3b5db;
}

@font-face {
    font-family: 'Ubuntu';
    src: local("Ubuntu"), url("./fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: 'Laila';
    src: local('Laila'), url('./fonts/Laila-Regular.ttf');
}

body {
    background-color: var(--main-bg-color);
    background-image: repeating-linear-gradient(34deg, transparent, transparent 0.125rem, var(--secondary-bg-color) 0.125rem, var(--secondary-bg-color) 0.25rem);
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Laila', sans-serif;
}

a {
    color: var(--link-color);
    text-decoration: underline dotted;
}

.main {
    margin: 1rem auto;
    max-width: 80%;
}

.title {
    margin: auto;
    text-align: center;
}

.section {
    background-color: var(--section-bg-color);
    border-color: var(--accent-color);
    border-width: 0.125rem;
    border-radius: 2px;
    border-style: solid;
    margin-bottom: 1rem;
    padding: 1rem;
}